{% extends "base.html" %}

{% block title %}Вход | Smart Todo Assistant{% endblock %}

{% block content %}
<section class="form-page">
    <h2>Вход</h2>

    <form class="auth-form">
        <label for="email">Email или логин</label>
        <input type="text" id="email" placeholder="Введите email или логин">

        <label for="password">Пароль</label>
        <input type="password" id="password" placeholder="Введите пароль">

        <button type="submit" class="btn">Войти</button>
    </form>
</section>
{% endblock %}