{% extends "base.html" %}

{% block title %}Регистрация | Smart Todo Assistant{% endblock %}

{% block content %}
<section class="form-page">
    <h2>Регистрация</h2>

    <form class="auth-form">
        <label for="username">Имя пользователя</label>
        <input type="text" id="username" placeholder="Введите логин">

        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Введите email">

        <label for="password">Пароль</label>
        <input type="password" id="password" placeholder="Введите пароль">

        <button type="submit" class="btn">Зарегистрироваться</button>
    </form>
</section>
{% endblock %}