{% extends "base.html" %}

{% block title %}Мои задачи | Smart Todo Assistant{% endblock %}

{% block content %}
<section class="todo-page">
    <h2>Мои задачи</h2>
    <p>Всего задач: {{ tasks|length }}</p>
    <button class="btn mb-3" data-bs-toggle="modal" data-bs-target="#createTaskModal">
        Создать задачу
    </button>
    <div class="tasks-list">
        {% if tasks %}
        {% for task in tasks %}
        <div class="task-card
             {% if task.is_done %}task-done{% endif %}
             {% if not task.is_done and task.deadline and task.deadline < now %}task-overdue{% endif %}"
             style="background-color: {{ task.category.color if task.category else '#ffffff' }}20">
            <div class="task-content">
                <h3>{{ task.title }}</h3>
                {% if task.file_path %}
                    <div class="mt-2">
                        {% if task.file_type == "image" %}
                            <img src="{{ url_for('uploaded_file', filename=task.file_path) }}" width="200">
                        {% elif task.file_type == "audio" %}
                            <audio controls>
                                <source src="{{ url_for('uploaded_file', filename=task.file_path) }}">
                            </audio>
                        {% endif %}
                        <br>
                        <a href="{{ url_for('uploaded_file', filename=task.file_path) }}" target="_blank" class="btn btn-small">
                            Открыть файл
                        </a>

                        <a href="{{ url_for('uploaded_file', filename=task.file_path) }}" download class="btn btn-small btn-secondary">
                            Скачать
                        </a>
                    </div>
                {% endif %}
                {% if not task.is_done and task.deadline and task.deadline < now %}
                    <p style="color: #e74c3c; font-weight: bold;">
                    </p>
                {% endif %}

                {% if task.description %}
                <p>{{ task.description }}</p>
                {% endif %}

                <p><strong>Приоритет:</strong>
                    {% if task.priority == 'high' %}
                    Высокий
                    {% elif task.priority == 'medium' %}
                    Средний
                    {% else %}
                    Низкий
                    {% endif %}
                </p>

                <p><strong>Категория:</strong> {{ task.category.name if task.category else "Без категории" }}</p>

                {% if task.deadline %}
                <p><strong>Дедлайн:</strong> {{ task.deadline.strftime('%d.%m.%Y %H:%M') }}</p>
                {% endif %}

                <small>Создано: {{ task.created_at.strftime('%d.%m.%Y %H:%M') }}</small>
            </div>

            <div class="task-actions">
                <form method="POST" action="{{ url_for('tasks.toggle_task', task_id=task.id) }}">
                    {{ form.csrf_token }}
                    <button type="submit" class="btn btn-small">
                        {% if task.is_done %}Вернуть{% else %}Выполнено{% endif %}
                    </button>
                </form>

                <a href="{{ url_for('tasks.edit_task', task_id=task.id) }}" class="btn btn-small btn-secondary">Редактировать</a>

                <form method="POST" action="{{ url_for('tasks.delete_task', task_id=task.id) }}">
                    {{ form.csrf_token }}
                    <button type="submit" class="btn btn-small btn-danger">Удалить</button>
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="empty-text">У вас пока нет задач. Добавьте первую 👀</p>
        {% endif %}
    </div>
    <div class="modal fade" id="createTaskModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="modal-header">
              <h5>Создать задачу</h5>
            </div>

            <div class="modal-body">
              {{ form.title(class="form-input") }}
              {{ form.description(class="form-input") }}
              {{ form.priority(class="form-input") }}
              {{ form.category_id(class="form-input") }}
              {{ form.deadline(class="form-input") }}

              <input type="file" name="file" class="form-control mt-2">
            </div>

            <div class="modal-footer">
              {{ form.submit(class="btn") }}
            </div>
          </form>
        </div>
      </div>
    </div>
</section>
{% endblock %}